<h1 class="center-align">Update Products</h1>


<div class="create1">
	<div class="row">
		<form class="col s12" action="/products/<%= @product.id %>" method="post">
			<input type="hidden" name="_method" value="patch">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
			<div class="row">
				<div class="input-field col s6">
					<input value="<%=@product.name%>" type="text" name="name" class="validate">
					<label for="name">Product Name</label>
				</div>
				<div class="input-field col s6">
					<input value="<%=@product.description%>" type="text" name="description" class="validate">
					<label for="description">description</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input value="<%=@product.pricing%>" type="number" name="pricing" class="validate">
					<label for="Pricing">Pricing</label>
				</div>
			</div>
			<a class='waves-effect btn red lighten-2' href="/products/<%= @product.id %>">Show</a>
			<a class='waves-effect btn red lighten-2' href="/products">Back</a>
			<input type="submit" value="Update" class="waves-effect btn right2">
		</form>
	</div>
<div>
<div>
	<% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
			<p><%= error %></p>
		<% end %>
	<% end %>
</div>



