<h1 class="center-align"><%= @product.name %></h1>

<div>
	<div class="z-depth-3 hello">
		<table class="bordered responsive-table centered">
			<thead>
				<tr>
					<th data-field="name">Name</th>
					<th data-field="name">Description</th>
					<th data-field="email">Pricing</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @product.name %></td>
					<td><%= @product.description %></td>
					<td><%= @product.pricing %></td>
				</tr>
			</tbody>
			<a class='waves-effect btn right3' href="/products">Back</a>
			<a class='waves-effect btn right4 blue lighten-1' href="/products/<%= @product.id %>/edit">Edit</a>
		</table>
		
	</div>
</div>